<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486496463953-dfk835009src6u2tl8tlu32n3jv9lkuq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486496463953-dfk835009src6u2tl8tlu32n3jv9lkuq</string>
	<key>API_KEY</key>
	<string>AIzaSyDmYOqmUTyuzb-ujPO7db-_Pd_Cf6gDOJU</string>
	<key>GCM_SENDER_ID</key>
	<string>486496463953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jueguito2</string>
	<key>PROJECT_ID</key>
	<string>powerup-e769f</string>
	<key>STORAGE_BUCKET</key>
	<string>powerup-e769f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486496463953:ios:ca4e78a8bffc1885071c70</string>
</dict>
</plist>